nav.navbar.is-primary
    .container
        .navbar-brand
            a.navbar-item
                img(src='/static/logo/logoasz.png' width='180' height='90')
        .navbar-menu
            .navbar-end
                .navbar-item
                    span.icon.is-large
                        i.fas.fa-home.fa-2x